/*
* RESET
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0;
    letter-spacing: -0.86px;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-size: 16px;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body,
th,
td,
input,
select,
textarea,
button {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
}

fieldset,
img {
    border: 0 none;
}

dl,
ul,
ol,
menu,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

select {
    font-size: 100%;
    vertical-align: middle;
    border-radius: 0;
    outline-style: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
textarea,
button {
    font-size: 100%;
    vertical-align: middle;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
}

body {
    height: 100%;
    background: #ffffff;
    color: #444444;
    -webkit-text-size-adjust: none;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
    -webkit-appearance: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

input[type="radio"] {
    -webkit-appearance: radio;
}

input[type="number"] {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input:focus,
textarea:focus {
    outline: none !important;
}

textarea {
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: #d9d9d9;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"]+label span.radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0;
    vertical-align: middle;
    background: url('/user/assets/images/ico_radio.png') 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
}

input[type="radio"]:checked+label span.radio {
    background: url('/user/assets/images/ico_radio_active.png') 50% 50% no-repeat;
    background-size: cover;
}

input[type="checkbox"]+label span.checkbox {
    display: inline-block;
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
    font-size: 0;
    vertical-align: middle;
    background: url('/user/assets/images/ico_checkbox.png') 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span.checkbox {
    background: url('/user/assets/images/ico_checkbox_active.png') 50% 50% no-repeat;
    background-size: cover;
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    padding-top: 83px;
    width: 100%;
    height: 100%;
}

/*Header*/
.wrap header.gnb {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 82px;
    background: #ffffff;
    border-bottom: 1px solid #d9d9d9;
}

.wrap header.gnb .gnb_content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: calc((82px - 43px) / 2) 0;
    max-width: 1460px;
}

.wrap header.gnb img {
    /* width: 10%; */
    width: 145px;
    cursor: pointer;
}

.wrap header.gnb .gnb_menu {
    display: flex;
    align-items: center;
}

.wrap header.gnb .gnb_menu li {
    font-size: 1.125em;
    padding-left: 2em;
    font-weight: bold;
    cursor: pointer;
}

.wrap header.gnb .gnb_menu li:hover,
.wrap header.gnb .gnb_menu li.active {
    color: #554ba0;
}

.wrap header.gnb .gnb_menu .balloon_sub_menu_area {
    display: none;
    position: absolute;
    left: 0;
    top: 83px;
    width: 100%;
    background: #fff;
}

.wrap header.gnb .gnb_menu .balloon_sub_menu_area .balloon_sub_menu {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1460px;
}

.wrap header.gnb .gnb_menu .balloon_sub_menu_area .balloon_sub_menu li {
    padding-left: 0;
    /* padding-right: 1em; */
    padding-right: 1em;
    color: #595959;
    transition: all 0.3s;
    font-size: 0.889em;
    font-weight: 500;
}

.wrap header.gnb .gnb_menu .balloon_sub_menu_area .balloon_sub_menu li:hover {
    color: #554ba0;
}

.wrap header.gnb .gnb_menu .balloon_sub_menu_area .balloon_sub_menu li a {
    transform: skew(-0.03deg);
    transition: all 0.3s;
}

/* //Header*/

/* Footer */
.footer {
    /*border-top: 1px solid #d9d9d9;*/
    background: #2F3135;
    color: #DFE0E2;
}

.footer .footer_area {
    margin: 0 auto;
    padding: 3em 0;
    max-width: 1460px;
    font-size: 0.875em;
}

.footer .footer_logo {
    /* width: 14%; */
    width: 180px;
    margin-bottom: 1.125em;
}

.footer .footer_line {
    border-bottom: 1px solid #DFE0E2;
    padding: 1em 0 3em 0;
}

.footer .footer_area .copyright_txt {}

.footer .footer_area .footer_flex_layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.125em;
}

.kakao_icon {
    width: 161px;
    height: 70px;
    background: url(/user/assets/images/ico_kakao_f.png) no-repeat 50% 50%/cover;
}

.floating {
    position: fixed;
    bottom: 3.5rem;
    right: 0;
}

/* //Footer  */

.wrap .container .banner_img_area {
    width: 100%;
}

.wrap .container .banner_img_area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap .container .banner_area {
    width: 100%;
    height: 83%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.127), rgba(0, 0, 0, 0.1)), url('/user/assets/images/banner_img.png');
    background-repeat: no-repeat;
}

.wrap .container .banner_area .wrap_banner_txt {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1460px;
    height: 100%;
    color: #ffffff;
}

.wrap .container .banner_area .banner_top_txt {
    font-size: 1.25em;
}

.wrap .container .banner_area .banner_bottom_txt {
    margin-top: 2em;
    font-size: 1.5em;
}


.wrap .container .banner_area .wrap_banner_txt .banner_title {
    font-size: 3.5em;
}

.wrap .container .progress_content .progress_list {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.wrap .container .progress_content .progress_list li:nth-child(even) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_list_arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('/user/assets/images/ico_arrow_right.png') no-repeat 50% 50%/cover;
}

.wrap .container .progress_content .progress_list li .progress_list_area .progress_list_content {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #f5f5f5;
    background: #FFF;
    border-radius: 50%;
    box-shadow: 5px 6px 12px 1px rgba(25, 48, 88, 0.1);
    background: url('/user/assets/images/sample1.png') no-repeat center center/cover;
}

.wrap .container .progress_content .progress_list li .progress_list_txt {
    text-align: center;
    margin-top: 1.25em;
    font-weight: bold;
    font-size: 1.5em;
}

.wrap .container .progress_content .progress_list .icon_height {
    height: calc(100% - 102px);
}

.wrap .container .introduction_content,
.background_color {
    background: #F1F0F8;
}

.wrap .container .business_content {
    background: #f9f9f9;
}

.wrap .container .introduction_content_width,
.wrap .container .gallery_content,
.wrap .container .instagram_content,
/* .wrap .container .instagram_content .instagram_content_img, */
.wrap .container .business_content_width,
.wrap .container .progress_content,
.wrap .container .partner_content {
    margin: 0 auto;
    padding: 4.875em 0em;
    max-width: 1460px;
}

.wrap .container .introduction_content .content_logo {
    display: block;
    margin: 0 auto;
    width: 3%;
}

.wrap .container .introduction_content .title,
.wrap .container .gallery_content .title,
.wrap .container .instagram_content .title,
.wrap .container .business_content .title,
.wrap .container .progress_content .title,
.wrap .container .partner_content .title {
    margin-bottom: 1em;
    text-align: center;
    font-size: 2.875em;
}

.wrap .container .introduction_content .sub_title {
    text-align: center;
    font-weight: 500;
    font-size: 1.125em;
}

.arrow_icon {
    width: 15px;
    height: 15px;
    margin-left: 2px;
    background: url('/user/assets/images/ico_arrow_right.png') no-repeat center center/cover;
}

.wrap .container .gallery_content .gallery_area,
.wrap .container .instagram_content .instagram_area {
    position: relative;
}

.wrap .container .gallery_content .gallery_more_btn,
.wrap .container .instagram_content .instagram_more_btn {
    right: 0;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.wrap .container .business_content .business_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.wrap .container .business_content .business_list li .business_list_area,
.wrap .container .gallery_content .gallery_category_list li,
.wrap .container .instagram_content .instagram_list li {
    position: relative;
    width: 100%;
    width: 100%;
    border: 1px solid #f5f5f5;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 5px 6px 12px 1px rgba(25, 48, 88, 0.1);
    background: url('/user/assets/images/sample1.png') no-repeat center center/cover;

}

.wrap .container .business_content .business_list li .business_list_area::after,
.wrap .container .gallery_content .gallery_category_list li::after,
.wrap .container .instagram_content .instagram_list li::after,
.wrap .container .progress_content .progress_list li .progress_list_area ::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.wrap .container .business_content .business_list li .business_list_content,
.wrap .container .gallery_content .gallery_category_list_content,
.wrap .container .instagram_content .instafeed {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* .wrap .container .instagram_content img {
    position: relative;
    width: 100%;
    border: 1px solid #f5f5f5;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 5px 6px 12px 1px rgba(25, 48, 88, 0.1);
} */

.wrap .container .business_content .wrap_txt .sub_title {
    text-align: center;
    margin-top: 1.250em;
    font-weight: bold;
    font-size: 1.5em;
}

.wrap .container .business_content .wrap_txt .sub_content {
    text-align: center;
    font-size: 1.125em;
    color: #999;
    margin-top: 1.111em;
}

.wrap .container .gallery_content .gallery_category_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    white-space: nowrap;
    overflow-x: auto;
    /* display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    margin-bottom: 2em; */
}

.wrap .container .gallery_content .gallery_category_menu li {
    padding: 0.417em 1.250em;
    margin: 0 0.5em;
    border: 1px solid #554ba0;
    border-radius: 35px;
    font-size: 1.5em;
    color: #554ba0;
    cursor: pointer;
    /* flex-shrink: 0; */
}

.wrap .container .gallery_content .gallery_category_menu li.active {
    font-weight: bold;
    background: #554ba0;
    color: #ffffff;
}

.wrap .container .gallery_content .gallery_category_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.wrap .container .gallery_content .gallery_category_list li {
    cursor: pointer;
}

.wrap .container .gallery_content .gallery_category_list_content {
    opacity: 0;
}

.wrap .container .gallery_content .gallery_category_list li:hover .gallery_category_list_content {
    opacity: 1;
}

.wrap .container .gallery_content .gallery_category_title_area {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(0 0 0 / 40%);
}

.wrap .container .gallery_content .gallery_category_title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    word-break: keep-all;
}


.wrap .container .instagram_content .instagram_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.wrap .container .partner_content .partner_list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.wrap .container .partner_content .partner_list .partner_content_img {
    padding: 2.875em 0em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.samsung {
    background-image: url('/user/assets/images/partner/samsung.png');
}

.lg {
    background-image: url('/user/assets/images/partner/lg.jpg');
}

.lotte {
    background-image: url('/user/assets/images/partner/lotte.jpg');
}

.sk {
    background-image: url('/user/assets/images/partner/sk.jpg');
}

.cinema {
    background-image: url('/user/assets/images/partner/cinema.jpg');
}

.hyundai {
    background-image: url('/user/assets/images/partner/hyundai.jpg');
}

.jyp {
    background-image: url('/user/assets/images/partner/jyp.jpg');
}

.hive {
    background-image: url('/user/assets/images/partner/hive.jpg');
}

.pledis {
    background-image: url('/user/assets/images/partner/pledis.png');
}

.seoulcity {
    background-image: url('/user/assets/images/partner/seoulcity.png');
}


.gangwondo {
    background-image: url('/user/assets/images/partner/gangwondo.png');
}

.yangcheongu {
    background-image: url('/user/assets/images/partner/yangcheongu.png');
}

.seodaeguoffice {
    background-image: url('/user/assets/images/partner/seodaeguoffice.gif');
}

.inchang {
    background-image: url('/user/assets/images/partner/inchang.png');
}

.culture {
    background-image: url('/user/assets/images/partner/culture.png');
}

.threedays {
    background-image: url('/user/assets/images/partner/threedays.jpg');
}


/* 상세 POPUP */
.popup_wrap,
.qna_popup_wrap,
.agree_popup_wrap {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);

}

.popup_container,
.popup_content {
    height: 100%;
}

.popup_content .swiper-wrapper {
    align-items: center;
    position: unset !important;
    max-width: 523px;
    ;
}

.popup_body_content {
    width: 31%;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

.popup_body_content .swiper-slide {
    /*max-width: 523px;*/
    /*max-height: 660px;*/
}

.popup_header_content .swiper-horizontal,
.popup_body_content .swiper,
.popup_body_content .swiper-slide {
    position: unset !important;
}


.popup_swiper_area img {
    display: block;
    width: 100%;
}

.popup_container .icon_close {
    position: absolute;
    right: 1%;
    top: 2%;
    width: 30px;
    height: 30px;
    background: url('/user/assets/images/ico_close_w.png') no-repeat center center/cover;
}

.popup_header_content .popup_title {
    position: absolute;
    bottom: 2%;
    left: 1%;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.swiper-button-prev,
.swiper-button-next {
    z-index: 12 !important;
    top: 50% !important;
    transform: translateY(-50%);
    width: 40px !important;
    height: 40px !important;
    margin-top: 0 !important;
}

.swiper-button-next {
    right: 28% !important;
    background: url('/user/assets/images/ico_arrow_right_w.png') center center/cover;
}

.swiper-button-prev {
    left: 28% !important;
    background: url('/user/assets/images/ico_arrow_left_w.png') center center/cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
}

/* //상세 POPUP */

/* 상담문의 컨텐츠 POPUP */
.qna_popup_container {
    position: relative;
    height: 100%;
}

.qna_popup_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
    width: 50%;
    border-radius: 10px;
    background: #fff;
}

.agree_popup_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
    width: 35%;
    border-radius: 10px;
    background: #fff;
}

.qna_popup_container .qna_icon_close {
    width: 30px;
    height: 30px;
    background: url('/user/assets/images/ico_close.png') no-repeat center center/cover;
}

.qna_popup_header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 1em;
}

.qna_popup_header_content .qna_popup_title {
    font-size: 1.5em;
    font-weight: bold;
}


.qna_popup_body_content .conetnts_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 1.5em;
    height: 350px;
    overflow-y: auto;
}

.qna_popup_body_content .conetnts_list .conetnts_list_area .conetnts_list_content {
    position: relative;
    width: 100%;
    width: 100%;
    border: 1px solid #f5f5f5;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 5px 6px 12px 1px rgba(25, 48, 88, 0.1);

}

.qna_popup_body_content .conetnts_list .conetnts_list_content::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.qna_popup_body_content .conetnts_list .conetnts_list_area .conetnts_list_title {
    margin-top: 10px;
    word-break: break-all;
    font-size: 1em;
}

.radio_area {
    position: absolute;
    left: 5%;
    top: 5%;
}

.popup_btn {
    height: 60px;
    line-height: 60px;
    font-size: 1.25em;
}

.save_btn,
.agree_btn {
    height: 55px;
    font-size: 1.25em;
    line-height: 55px;
    min-width: 200px;
    display: block;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #554ba0;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2em;
}

/* //상담문의 컨텐츠 POPUP */

.agree_popup_text_area {
    margin-top: 1.5em;
    font-size: 1em;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

.flex_layout {
    display: flex;
    align-items: center;
}

.mb-7 {
    margin-bottom: 7px;
}



/* //카테고리 페이지 */
.wrap .container .category_content {
    background: #F1F0F8;
}

.wrap .container .category_content_width,
.wrap .conatiner .category_gallery_content {
    margin: 0 auto;
    padding: 4.875em 0em;
    max-width: 1460px;
}

.wrap .container .category_content .content_logo {
    display: block;
    margin: 0 auto;
    width: 3%;
}

.wrap .container .category_content .title {
    margin-bottom: 1em;
    text-align: center;
    font-size: 2.875em;
}

.wrap .container .category_content .sub_title {
    text-align: center;
    font-weight: 500;
    font-size: 1.125em;
}

.wrap .container .category_gallery_content {
    margin: 0 auto;
    padding: 4.875em 0em;
    max-width: 1460px;
    position: relative;
}

.wrap .container .category_gallery_content .gallery_category_list,
.wrap .container .category_gallery_content .balloon_category_list,
.wrap .container .category_gallery_content .topper_category_list,
.wrap .container .category_gallery_content .pierrot_category_list,
.wrap .container .category_gallery_content .class_category_list,
.wrap .container .category_gallery_content .lettering_category_list,
.wrap .container .category_gallery_content .print_balloon_category_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.wrap .container .category_gallery_content .gallery_category_list li,
.wrap .container .category_gallery_content .balloon_category_list li,
.wrap .container .category_gallery_content .topper_category_list li,
.wrap .container .category_gallery_content .pierrot_category_list li,
.wrap .container .category_gallery_content .class_category_list li,
.wrap .container .category_gallery_content .lettering_category_list li,
.wrap .container .category_gallery_content .print_balloon_category_list li {
    position: relative;
    width: 100%;
    width: 100%;
    border: 1px solid #f5f5f5;
    background: #FFF;
    border-radius: 15px;
    box-shadow: 5px 6px 12px 1px rgba(25, 48, 88, 0.1);
    background: url('/user/assets/images/sample1.png') no-repeat center center/cover;
    cursor: pointer;
}

.wrap .container .category_gallery_content .gallery_category_list li::after,
.wrap .container .category_gallery_content .balloon_category_list li::after,
.wrap .container .category_gallery_content .topper_category_list li::after,
.wrap .container .category_gallery_content .pierrot_category_list li::after,
.wrap .container .category_gallery_content .class_category_list li::after,
.wrap .container .category_gallery_content .lettering_category_list li::after,
.wrap .container .category_gallery_content .print_balloon_category_list li::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.wrap .container .category_gallery_content .gallery_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .balloon_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .topper_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .pierrot_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .class_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .lettering_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .print_balloon_category_list .gallery_category_list_content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrap .container .category_gallery_content .gallery_category_list .gallery_category_list_content .gallery_category_title_area,
.wrap .container .category_gallery_content .balloon_category_list .gallery_category_list_content .gallery_category_title_area,
.wrap .container .category_gallery_content .topper_category_list .gallery_category_list_content .gallery_category_title_area,
.wrap .container .category_gallery_content .pierrot_category_list .gallery_category_list_content .gallery_category_title_area,
.wrap .container .category_gallery_content .class_category_list .gallery_category_list_content .gallery_category_title_area,
.wrap .container .category_gallery_content .lettering_category_list .gallery_category_list_content .gallery_category_title_area,
.wrap .container .category_gallery_content .print_balloon_category_list .gallery_category_list_content .gallery_category_title_area {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgb(0 0 0 / 40%);
}

.wrap .container .category_gallery_content .gallery_category_list .gallery_category_list_content .gallery_category_title_area .gallery_category_title,
.wrap .container .category_gallery_content .balloon_category_list .gallery_category_list_content .gallery_category_title_area .gallery_category_title,
.wrap .container .category_gallery_content .topper_category_list .gallery_category_list_content .gallery_category_title_area .gallery_category_title,
.wrap .container .category_gallery_content .pierrot_category_list .gallery_category_list_content .gallery_category_title_area .gallery_category_title,
.wrap .container .category_gallery_content .class_category_list .gallery_category_list_content .gallery_category_title_area .gallery_category_title,
.container .category_gallery_content .lettering_category_list .gallery_category_list_content .gallery_category_title_area .gallery_category_title,
.container .category_gallery_content .print_balloon_category_list .gallery_category_list_content .gallery_category_title_area .gallery_category_title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    word-break: keep-all;

}

.wrap .container .category_gallery_content .gallery_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .balloon_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .topper_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .pierrot_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .class_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .lettering_category_list .gallery_category_list_content,
.wrap .container .category_gallery_content .print_balloon_category_list .gallery_category_list_content {
    opacity: 0;
}

.wrap .container .category_gallery_content .gallery_category_list li:hover .gallery_category_list_content,
.wrap .container .category_gallery_content .balloon_category_list li:hover .gallery_category_list_content,
.wrap .container .category_gallery_content .topper_category_list li:hover .gallery_category_list_content,
.wrap .container .category_gallery_content .pierrot_category_list li:hover .gallery_category_list_content,
.wrap .container .category_gallery_content .class_category_list li:hover .gallery_category_list_content,
.wrap .container .category_gallery_content .lettering_category_list li:hover .gallery_category_list_content,
.wrap .container .category_gallery_content .print_balloon_category_list li:hover .gallery_category_list_content {
    opacity: 1;
}

.wrap .container .category_gallery_content .gallery_category_more_area {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.wrap .container .category_gallery_content .gallery_category_more_area button {
    width: 16%;
    padding: 0.75em;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    background: #fff;
    color: #554ba0;
    border: 1px solid #554ba0;
    font-size: 1.25em;
    font-weight: bold;
}

.js-load {
    display: none;
}

.js-load.active {
    display: block;
}

.is_comp.js-load::after {
    display: none;
}

/* //카테고리 페이지 */


/* 상담문의 페이지 */
.wrap .container .qna_banner_area {
    height: 39%;
}

.wrap .container .qna_banner_area.topper {
    width: 100%;
    background: url('/user/assets/images/banner/topper.png') no-repeat 50% 50%/cover;
}

.wrap .container .qna_banner_area.pierrot {
    width: 100%;
    background: url('/user/assets/images/banner/pierrot.png') no-repeat 50% 50%/cover;
}

.wrap .container .qna_banner_area.class {
    width: 100%;
    background: url('/user/assets/images/banner/class.png') no-repeat 50% 50%/cover;
}

.wrap .container .qna_banner_area.qna {
    width: 100%;
    background: url('/user/assets/images/banner/qna.png') no-repeat 50% 50%/cover;
}

.wrap .container .qna_banner_area.print_ballon {
    width: 100%;
    background: url('/user/assets/images/banner/print_ballon.png') no-repeat 50% 50%/cover;
}

.wrap .container .qna_banner_area.ballon {
    width: 100%;
    background: url('/user/assets/images/banner/ballon.png') no-repeat 50% 50%/cover;
}

.wrap .container .qna_banner_area.lettering {
    width: 100%;
    background: url('/user/assets/images/banner/lettering.png') no-repeat 50% 50%/cover;
}

.qna_content {
    max-width: 860px;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 4em;
}

.qna_content .qna_process_img_area {
    margin-bottom: 2em;
}

.qna_content .qna_process_img_area img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.qna_input_area {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-top: 1.5em;
}

.qna_left_txt {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 55px;
}

.qna_right_txt {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    height: 50px;
}

.contents_input_area {
    position: relative;
}

.contents_input_area .select_content_title {
    position: absolute;
    top: 50%;
    left: 1.25em;
    transform: translateY(-50%);
    font-size: 1.125em;
}

.contents_input_area .content_del {
    position: absolute;
    top: 50%;
    right: 1.25em;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('/user/assets/images/ico_close.png') no-repeat center center/cover;
    cursor: pointer;

}

.qna_input_area input {
    padding: 0 1.25em;
    height: 100%;
    width: 100%;
    border: none;
    background: inherit;
    font-size: 1.125em;
    border-radius: 10px;
}

.qna_input_area .contents_area {
    display: grid;
    grid-template-columns: 80% 20%;
}

.qna_input_area .contents_area .contents_btn {
    margin-left: 0.9em;
    border: 1px solid #554ba0;
    border-radius: 10px;
    background: #fff;
    color: #554ba0;
    font-size: 1.25em;
    font-weight: bold;
}

.agree_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5em;
    margin-top: 1.5em;
    border-top: 1px solid #d9d9d9;
}

.agree_area .agree_text {
    font-size: 1.25em;
    font-weight: bold;
}

.agree_area .agree_popup_text {
    color: #554ba0;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 1em;
    cursor: pointer;
}

.cal_input_area,
.email_input_area,
.budget_area {
    display: flex;
    align-items: center;
}

.cal_input_area .qna_right_txt {
    width: 20%;
    border-radius: 10px;
}

.cal_input_area div:nth-child(even),
.email_input_area div:nth-child(even) {
    margin: 0 0.875em;
    font-size: 1.5em;
}

.budget_area .qna_right_txt {
    flex: 1;
}

.budget_area .qna_cation_txt {
    padding-left: 1em;
    font-size: 1.125em;
}

.request_selet_area {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    height: 50px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
}

.request_selet_area .select {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-size: 1.125em;
    color: #111;
    background: url('/user/assets/images/ico_select.png') #f5f5f5;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: calc(100% - 1.25em) center;
    border: 0;
    border-radius: 10px;
    padding: 0 1.25em;
}

.textarea_area textarea {
    padding: 0 1.25em;
    height: 100%;
    width: 100%;
    border: none;
    background: #f5f5f5;
    font-size: 1.125em;
    /* border: 10px; */
    border-radius: 10px;
    padding: 1.25em;
    font-size: 1.125em;
    height: 300px;
}

.align_flex_start {
    align-items: flex-start !important;
}

.apply_btn {
    display: block;
    width: auto;
    min-width: 240px;
    height: 70px;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background-color: #554ba0;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 2em;
}

.essential {
    color: #DE3729;
    margin-left: 5px;
}

.balloon_sub_menu.filter {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    text-align: center;

    padding-bottom: 3em;
}

.balloon_sub_menu.filter li {
    padding: 1rem;
    border: 2px solid #f5f5f5;
    font-size: 1.25em;
    cursor: pointer;
}

.balloon_sub_menu.filter li:nth-child(2) {
    border-left: none;
}

.balloon_sub_menu.filter li:nth-child(3) {
    border-left: none;
    border-right: none;
}

.balloon_sub_menu.filter li:nth-child(4) {

    border-right: none;
}

.balloon_sub_menu.filter li:first-child {
    border-radius: 10px 0 0 10px;
}

.balloon_sub_menu.filter li:last-child {
    border-radius: 0 10px 10px 0;
}

.balloon_sub_menu.filter li.active {
    border: 2px solid #554BA0;
    color: #554BA0;
    font-weight: bold;
}


/* Mobile */
.gnb .mo_gnb_content {
    display: none;
}

.gnb .mo_gnb_content .mo_gnb_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 56px;
}

.gnb .mo_gnb_content .icon_menu {
    width: 25px;
    height: 25px;
    background: url('/user/assets/images/ico_menu.png') no-repeat 50% 50%/cover;
}

.mo_gnb_area {}

/* Mobile Menu Popup*/
.mo_menu_popup_wrap {
    z-index: 10;
    position: fixed;
    top: 0;
    right: -100% !important;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: left;
    transition: all 0.5s;
}

.mo_menu_popup_wrap.on {
    right: 0 !important;
}

.mo_menu_popup_wrap .mo_menu_popup_container .icon_close_area {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
    padding: 0 24px;
}

.mo_menu_popup_wrap .mo_menu_popup_container .mo_icon_close {
    width: 25px;
    height: 25px;
    background: url('/user/assets/images/ico_close.png') no-repeat 50% 50%/cover;
}

.mo_progress_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.mo_progress_list .progress_list_content {
    width: 50px;
    height: 50px;
}

.mo_progress_list li.mo_progress_content {
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border: 1px solid #f5f5f5;
    background: #FFF;
    /* border-radius: 50%; */
    box-shadow: 5px 6px 12px 1px rgba(25, 48, 88, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    /* height: 111px; */
    /* margin: 0 auto; */
    text-align: center;
    /* justify-content: space-between; */
    justify-content: center;
    /* margin-bottom: 30px; */
    flex-direction: column;

}

.mo_progress_list .progress_list_txt {
    font-weight: bold;
    padding-top: 15px;
    font-size: 1.5em;
    text-align: center;
}

.mobile_progress_content {
    display: none;
    text-align: center;
}

.mobile_progress_content img {
    object-fit: cover;
    width: 60%;
}

/*서브 메뉴*/
.mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .mo_sub_menu {
    background: #f7f7f7;
    padding: 0 24px;
    max-height: 0;
    font-size: 1.5em;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .menu.bollon_menu.active+.mo_sub_menu {
    max-height: 270px;
    padding: 15px 24px;
    transition: max-height 0.3s ease;
}

.mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .mo_sub_menu li {
    font-size: 0.875em;
    font-weight: 400;
    color: #595959;
    margin-top: 24px;
}

.mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .mo_sub_menu li:first-child {
    margin-top: 0;
}

.mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .menu {
    display: block;
    padding: 15px 24px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 1.5em;
    font-weight: bold;
}

.mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .menu.active {
    border-bottom: 1px solid #554ba0;
    color: #554ba0;
}

.mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .menu.bollon_menu {
    position: relative;
}

.mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .menu.bollon_menu::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 24px;
    margin-top: -12px;
    width: 25px;
    height: 25px;
    background: url('/user/assets/images/ico_arrow_down.png') no-repeat center center;
    background-size: cover;
    opacity: 0.5;
    transition: transform 0.3s ease;
}

.mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .menu.bollon_menu.active::after {
    transform: rotate(-180deg);
    opacity: 1;
}

.class_br,
.icon_production {
    display: none;
}

/* 반응형 */
@media screen and (max-width: 1540px) {

    .wrap header.gnb .gnb_content,
    .wrap .container .introduction_content_width,
    .wrap .container .gallery_content,
    .wrap .container .instagram_content,
    .wrap .container .business_content_width,
    .wrap .container .progress_content,
    .wrap .container .partner_content,
    .footer .footer_area {
        max-width: 1400px;
    }
}


@media screen and (max-width: 1439px) {

    html,
    body,
    .wrap .container .qna_banner_area .wrap_banner_txt {
        font-size: 15px;
    }

    .mo_gnb {
        height: 56px !important;
    }

    .gnb .gnb_content {
        display: none !important;
    }

    .gnb .mo_gnb_content {
        display: block !important;
    }

    .gnb .mo_gnb_content img {
        width: 124px !important;
    }

    .container {
        padding-top: 56px;
    }

    .wrap .container .banner_area .wrap_banner_txt {
        padding: 0 24px;
    }

    .wrap .container .banner_area {
        height: 37%;
    }

    .wrap .container .introduction_content_width,
    .wrap .container .gallery_content,
    .wrap .container .instagram_content,
    .wrap .container .business_content_width,
    .wrap .container .progress_content,
    .wrap .container .category_gallery_content,
    .wrap .container .partner_content {
        padding-left: 24px;
        padding-right: 24px;
    }

    .wrap .container .introduction_content .title,
    .wrap .container .gallery_content .title,
    .wrap .container .instagram_content .title,
    .wrap .container .business_content .title,
    .wrap .container .progress_content .title,
    .wrap .container .partner_content .title {
        margin-bottom: 0.875em;
    }

    .footer .footer_area {
        padding-left: 24px;
        padding-right: 24px;
    }

    .footer .footer_logo {
        width: 150px;
    }

    .wrap .container .qna_banner_area {
        height: 26%;
    }

    .qna_popup_container .qna_icon_close {
        width: 25px;
        height: 25px;
    }

    .wrap .container .category_gallery_content .gallery_category_more_area button {
        width: 200px;
    }

    .popup_container .icon_close {
        width: 25px;
        height: 25px;
        right: 24px;
    }

    .popup_header_content .popup_title {
        left: 24px;
    }

    .popup_wrap,
    .qna_popup_wrap,
    .agree_popup_wrap {
        background: rgb(0 0 0 / 75%);
    }

    .mobile_progress_content {
        display: block;
    }

    .wrap .container .progress_content .progress_list {
        display: none;
    }
}

@media screen and (max-width: 1145px) {
    .wrap .container .gallery_content .gallery_category_menu li {
        font-size: 1.25em;
    }

    .agree_popup_content {
        width: 40%;
    }
}

@media screen and (max-width: 1024px) {

    html,
    body,
    .wrap .container .qna_banner_area .wrap_banner_txt {
        font-size: 14px;
    }

    .wrap .container .introduction_content_width,
    .wrap .container .gallery_content,
    .wrap .container .instagram_content,
    .wrap .container .business_content_width,
    .wrap .container .progress_content {
        padding: 3em 24px;
    }

    .qna_popup_content,
    .agree_popup_content {
        width: 80%;
    }

    .qna_content {
        max-width: 700px;
    }

    .qna_input_area .contents_area {
        grid-template-columns: 75% 25%;
    }

    .wrap .container .qna_banner_area .qna_banner_title,
    .wrap .container .introduction_content .title,
    .wrap .container .gallery_content .title,
    .wrap .container .instagram_content .title,
    .wrap .container .business_content .title,
    .wrap .container .progress_content .title,
    .wrap .container .partner_content .title {
        font-size: 2.5em;
    }

    .wrap .container .banner_area .banner_bottom_txt {
        margin-top: 1.125em;
    }

    .wrap .container .banner_area .wrap_banner_txt .banner_title {
        font-size: 3em;
    }

    .popup_body_content {
        width: 59%;
    }

    .popup_content .swiper-wrapper {
        max-width: 360px;
    }

    .swiper-button-next {
        right: 24px !important
    }

    .swiper-button-prev {
        left: 24px !important;
    }

    .mo_progress_list .progress_list_txt {
        font-size: 1.25em;
    }

    .wrap .container .instagram_content .instagram_list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 898px) {
    .wrap .container .gallery_content .gallery_category_menu {
        justify-content: flex-start;
        padding: 0 0 3px 0px;
    }
}

@media screen and (max-width: 768px) {
    .qna_content {
        max-width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 2.5em;
        padding-bottom: 3em;
    }

    .wrap .container .category_gallery_content {
        padding: 2.5em 24px;
    }

    .wrap .container .category_gallery_content .gallery_category_more_area {
        margin-top: 4em;
    }

    .mo_progress_list li.mo_progress_content {
        height: 150px;
    }

    .mo_progress_list .progress_list_txt {
        font-size: 1.125em;
    }

    .balloon_sub_menu.filter {
        display: flex;
        flex-wrap: wrap;
    }

    .balloon_sub_menu.filter li {
        border: 1px solid #f5f5f5;
    }

    .balloon_sub_menu.filter li.active {
        border: 1px solid #554BA0 !important;
    }

    .balloon_sub_menu.filter li:first-child {
        width: 50%;
        border-radius: 10px 0 0px 0px;
        border-bottom: none;
    }

    .balloon_sub_menu.filter li:nth-child(2) {
        width: 50%;
        border-bottom: none;
        border-radius: 0 10px 0 0;
    }

    .balloon_sub_menu.filter li:nth-child(3) {
        width: 33.333%;
        border-radius: 0px 0 0 10px;
        border-left: 1px solid #f5f5f5;
    }

    .balloon_sub_menu.filter li:nth-child(4) {
        width: 33.333%;
        border-right: none;
    }

    .balloon_sub_menu.filter li:nth-child(5) {
        width: 33.333%;
        border-radius: 0 0px 10px 0;
    }

    .mobile_progress_content img {
        width: 70%;
    }

    .agree_btn,
    .save_btn {
        width: 100%;
    }

}


@media screen and (max-width: 600px) {

    html,
    body,
    .wrap .container .qna_banner_area .wrap_banner_txt {
        font-size: 13px;
    }

    .qna_input_area {
        grid-template-rows: auto;
        grid-template-columns: none !important;
        row-gap: 5px;
    }

    .wrap .container .qna_banner_area {
        height: 200px;
    }

    .qna_input_area input,
    .request_selet_area .select {
        padding: 0 0.875em;
    }

    .wrap .container .qna_banner_area .qna_banner_title,
    .wrap .container .introduction_content .title,
    .wrap .container .gallery_content .title,
    .wrap .container .instagram_content .title,
    .wrap .container .business_content .title,
    .wrap .container .progress_content .title,
    .wrap .container .partner_content .title {
        font-size: 2.125em;
    }

    .apply_btn {
        height: 60px;
        line-height: 60px;
        min-width: 220px;
    }

    .agree_btn,
    .save_btn {
        height: 45px;
        line-height: 45px;
    }

    .mo_mt_0 {
        margin-top: 0 !important;
    }

    .qna_content {
        padding-top: 2.5em;
    }

    .qna_input_area {
        margin-bottom: 1.5em;
    }

    .wrap .container .category_gallery_content .gallery_category_list,
    .wrap .container .category_gallery_content .balloon_category_list,
    .wrap .container .category_gallery_content .topper_category_list,
    .wrap .container .category_gallery_content .pierrot_category_list,
    .wrap .container .category_gallery_content .class_category_list,
    .wrap .container .category_gallery_content .lettering_category_list,
    .wrap .container .category_gallery_content .print_balloon_category_list,
    .qna_popup_body_content .conetnts_list {
        grid-template-columns: repeat(3, 1fr);
    }

    .wrap .container .gallery_content .gallery_category_list,
    .wrap .container .instagram_content .instagram_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .arrow_icon {
        width: 10px;
        height: 10px;
    }


    .wrap .container .category_gallery_content .gallery_category_more_area {
        margin-top: 3em;
    }

    .class_br {
        display: block;
    }

    .qna_content .qna_process_img_area {
        margin-bottom: 1.25em;
    }

    .wrap .container .partner_content .partner_list {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media screen and (max-width: 480px) {

    html,
    body,
    .wrap .container .qna_banner_area .wrap_banner_txt {
        font-size: 12px;
    }

    .qna_input_area .contents_area {
        grid-template-columns: 65% 35%;
    }

    .qna_popup_body_content .conetnts_list {
        height: 300px;
    }

    .qna_left_txt {
        line-height: 35px;
    }

    .qna_popup_body_content .conetnts_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .qna_popup_body_content .conetnts_list {
        height: 250px;
    }

    .wrap .container .category_gallery_content .gallery_category_more_area button {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {

    .wrap .container .category_gallery_content .gallery_category_list,
    .wrap .container .category_gallery_content .balloon_category_list,
    .wrap .container .category_gallery_content .topper_category_list,
    .wrap .container .category_gallery_content .pierrot_category_list,
    .wrap .container .category_gallery_content .class_category_list,
    .wrap .container .category_gallery_content .lettering_category_list,
    .wrap .container .category_gallery_content .print_balloon_category_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .wrap .container .qna_banner_area .qna_banner_title,
    .wrap .container .qna_banner_area .qna_banner_title,
    .wrap .container .introduction_content .title,
    .wrap .container .gallery_content .title,
    .wrap .container .instagram_content .title,
    .wrap .container .business_content .title,
    .wrap .container .progress_content .title,
    .wrap .container .partner_content .title {
        font-size: 2em;
    }

    .request_selet_area,
    .qna_right_txt {
        height: 45px;
    }

    .textarea_area textarea {
        height: 230px;
    }

    .contents_input_area .content_del {
        width: 15px;
        height: 15px;
    }

    .cal_input_area .qna_right_txt {
        width: 30%;
    }

    .save_btn {
        min-width: 150px;
        height: 45px;
        line-height: 45px
    }

    .apply_btn {
        height: 50px;
        line-height: 50px;
        min-width: 200px;
    }

    .select_content_title {
        width: calc(100% - 1.75em - 32px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .gnb .mo_gnb_content .mo_gnb_area,
    .wrap .container .qna_banner_area .wrap_banner_txt,
    .mo_menu_popup_wrap .mo_menu_popup_container .icon_close_area {
        padding: 0px 16px;
    }

    .wrap .container .category_gallery_content,
    .wrap .container .introduction_content_width,
    .wrap .container .gallery_content,
    .wrap .container .instagram_content,
    .wrap .container .business_content_width,
    .wrap .container .progress_content {
        padding: 2.5em 16px;
    }

    .footer .footer_area,
    .qna_content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .wrap .container .banner_area {
        height: 255px;
    }

    .floating {
        bottom: 3rem;
    }

    .kakao_icon {
        width: 150px;
        height: 60px;
    }

    .swiper-button-next,
    .popup_container .icon_close {
        right: 16px !important
    }

    .swiper-button-prev {
        left: 16px !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 35px !important;
        height: 35px !important;
    }

    .mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .menu,
    .mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .menu.bollon_menu.active+.mo_sub_menu {
        padding: 15px 16px;
    }

    .mo_menu_popup_wrap .mo_menu_popup_container .mo_menu .mo_sub_menu {
        padding: 0 16px;
    }

    .mobile_progress_content img {
        width: 85%;
    }

}

@media screen and (max-width: 375px) {

    html,
    body,
    .wrap .container .qna_banner_area .wrap_banner_txt {
        font-size: 11px;
    }

}

@media screen and (max-width: 320px) {

    html,
    body,
    .wrap .container .qna_banner_area .wrap_banner_txt {
        font-size: 10px;
    }

    .footer .footer_area .footer_flex_layout {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer .footer_area .copyright_txt {
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 280px) {

    html,
    body,
    .wrap .container .qna_banner_area .wrap_banner_txt {
        font-size: 9px;
    }

}