<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
</head>

<body>
    <div class="wrap">
        <%- include('header') %>
            <div class="container">
                <div class="qna_banner_area">
                    <div class="wrap_banner_txt">
                        <p class="qna_banner_title">클래스</p>
                        <p class="qna_banner_sub_title">개인 및 기업, 관공서(공공기관)을 <br class="class_br">대상으로 전문적인 클래스를 진행하고
                            있습니다<br>
                            (기업출강 풍선아트, 꽃풍선, 토퍼)</p>
                    </div>
                </div>

                <div class="category_gallery_content">
                    <ul class="class_category_list">
                    </ul>
                </div>
            </div>


            <%- include('float') %>
    </div>

    <script src="/user/assets/js/common.js"></script>
</body>

</html>