<header class="gnb mo_gnb">
    <div class="gnb_content">
        <!-- PC Header -->
        <img src="/user/assets/images/header_logo.png" alt="" onclick="location.href='/'">

        <ul class="gnb_menu">
            <li class="balloon_categroy gnb_li"><a href=/balloon>풍선장식</a>
                <div class="balloon_sub_menu_area">
                    <ul class="balloon_sub_menu">
                        <li><a href=/balloon?sub=1>입학식/졸업식</a></li>
                        <li><a href=/balloon?sub=2>풍선 장식</a></li>
                        <li><a href=/balloon?sub=3>기업행사</a></li>
                        <li><a href=/balloon?sub=4>입구풍선아치</a></li>
                    </ul>
                </div>
            </li>
            <li class="gnb_li"><a href=/lettering>레터링풍선</a></li>
            <li class="gnb_li"><a href=/print-balloon>인쇄풍선</a></li>
            <li class="gnb_li"><a href=/topper>메세지토퍼</a></li>
            <li class="gnb_li"><a href=/pierrot>삐에로/페이스페인팅</a></li>
            <li class="gnb_li"><a href=/class>클래스</a></li>
            <li class="gnb_li"><a href=/qna>상담문의</a></li>
        </ul>
    </div>
    <!-- //PC Header -->
    <!-- Mobile Header -->
    <div class="mo_gnb_content">
        <div class="mo_gnb_area">
            <img src="/user/assets/images/header_logo.png" alt="" onclick="location.href='/'">
            <div class="icon_menu"></div>
        </div>
    </div>
    <!-- //Mobile Header -->
    <!-- Mobile Menu Popup  -->
    <div class="mo_menu_popup_wrap ">
        <div class="mo_menu_popup_container">
            <div class="icon_close_area">
                <div class="mo_icon_close"></div>
            </div>
            <ul class="mo_menu">
                <li>
                    <div class="menu bollon_menu mo_gnb_li">풍선장식</div>
                    <ul class="mo_sub_menu">
                        <li><a href=/balloon>전체</a></li>
                        <li><a href=/balloon?sub=1>입학식/졸업식</a></li>
                        <li><a href=/balloon?sub=2>풍선 장식</a></li>
                        <li><a href=/balloon?sub=3>기업행사</a></li>
                        <li><a href=/balloon?sub=4>입구풍선아치</a></li>
                    </ul>
                </li>
                <li><a href=/lettering class="menu mo_categroy_menu mo_gnb_li">레터링풍선</a></li>
                <li><a href=/print-balloon class="menu mo_categroy_menu mo_gnb_li">인쇄풍선</a></li>
                <li><a href=/topper class="menu mo_categroy_menu mo_gnb_li">메시지 토퍼</a></li>
                <li><a href=/pierrot class="menu mo_categroy_menu mo_gnb_li">삐에로/페이스페인팅</a></li>
                <li><a href=/class class="menu mo_categroy_menu mo_gnb_li">클래스</a></li>
                <li><a href=/qna class="menu mo_categroy_menu mo_gnb_li">상담문의</a></li>
            </ul>
        </div>
    </div>
    <!-- //Mobile Menu Popup  -->
</header>