<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('head') %>
</head>

<body>
    <div class="wrap">
        <%- include('header') %>
            <div class="container">

                <div class="banner_img_area">
                    <img src="/user/assets/images/banner_img.png" alt="">
                </div>

                <div class="progress_content">
                    <h3 class="title">진행방식</h3>
                    <ul class="progress_list">
                        <li>
                            <div class="progress_list_area">
                                <div class="progress_list_content"
                                    style="background: url(/user/assets/images/ico-01.png) no-repeat center center/70%;">
                                </div>
                            </div>
                            <div class="progress_list_txt">견적신청</div>
                        </li>
                        <li class="icon_height">
                            <i class="icon_list_arrow"></i>
                        </li>
                        <li>
                            <div class="progress_list_area">
                                <div class="progress_list_content"
                                    style="background: url(/user/assets/images/ico-02.png) no-repeat center center/70%;">
                                </div>
                            </div>
                            <div class="progress_list_txt">전담매니저<br>상담</div>
                        </li>
                        <li class="icon_height">
                            <i class="icon_list_arrow"></i>
                        </li>
                        <li>
                            <div class="progress_list_area">
                                <div class="progress_list_content"
                                    style="background: url(/user/assets/images/ico-03.png) no-repeat center center/70%;">
                                </div>
                            </div>
                            <div class="progress_list_txt">시안제작</div>
                        </li>
                        <li class="icon_height">
                            <i class="icon_list_arrow"></i>
                        </li>
                        <li>
                            <div class="progress_list_area">
                                <div class="progress_list_content"
                                    style="background: url(/user/assets/images/ico-04.png) no-repeat center center/70%;">
                                </div>
                            </div>
                            <div class="progress_list_txt">견적확인</div>
                        </li>
                        <li class="icon_height">
                            <i class="icon_list_arrow"></i>
                        </li>
                        <li>
                            <div class="progress_list_area">
                                <div class="progress_list_content"
                                    style="background: url(/user/assets/images/ico-05_02.png) no-repeat center center/70%;">
                                </div>
                            </div>
                            <div class="progress_list_txt">최종결정 <br>및 계약</div>
                        </li>
                        <li class="icon_height">
                            <i class="icon_list_arrow"></i>
                        </li>
                        <li>
                            <div class="progress_list_area">
                                <div class="progress_list_content"
                                    style="background: url(/user/assets/images/ico-06.png) no-repeat center center/70%;">
                                </div>
                            </div>
                            <div class="progress_list_txt">행사진행</div>
                        </li>
                    </ul>

                    <!-- 모바일 진행방식 -->
                    <div class="mobile_progress_content">
                        <img src="/user/assets/images/main_process.png">
                        <!-- <ul class="mo_progress_list">
                            <li class="mo_progress_content">
                                <div class="progress_list_area">
                                    <div class="progress_list_content"
                                        style="background: url(/user/assets/images/ico-01.png) no-repeat center center/cover;">
                                    </div>
                                </div>
                                <div class="progress_list_txt">견적신청</div>
                            </li>
                            <li class="icon_apply">
                                <i class="icon_list_arrow"></i>
                            </li>
                            <li class="mo_progress_content">
                                <div class="progress_list_area">
                                    <div class="progress_list_content"
                                        style="background: url(/user/assets/images/ico-02.png) no-repeat center center/cover;">
                                    </div>
                                </div>
                                <div class="progress_list_txt">전담매니저<br>상담</div>
                            </li>
                            <li class="icon_qna">
                                <i class="icon_list_arrow"></i>
                            </li>
                            <li class="mo_progress_content">
                                <div class="progress_list_area">
                                    <div class="progress_list_content"
                                        style="background: url(/user/assets/images/ico-03.png) no-repeat center center/cover;">
                                    </div>
                                </div>
                                <div class="progress_list_txt">시안제작</div>
                            </li>
                            <li class="icon_production">
                                <i class="icon_list_arrow"></i>
                            </li>
                            <li class="mo_progress_content">
                                <div class="progress_list_area">
                                    <div class="progress_list_content"
                                        style="background: url(/user/assets/images/ico-04.png) no-repeat center center/cover;">
                                    </div>
                                </div>
                                <div class="progress_list_txt">견적확인</div>
                            </li>
                            <li class="icon_confirm">
                                <i class="icon_list_arrow"></i>
                            </li>
                            <li class="mo_progress_content">
                                <div class="progress_list_area">
                                    <div class="progress_list_content"
                                        style="background: url(/user/assets/images/ico-05_02.png) no-repeat center center/cover;">
                                    </div>
                                </div>
                                <div class="progress_list_txt">최종결정 <br>및 계약</div>
                            </li>
                            <li class="icon_contract">
                                <i class="icon_list_arrow"></i>
                            </li>
                            <li class="mo_progress_content">
                                <div class="progress_list_area">
                                    <div class="progress_list_content"
                                        style="background: url(/user/assets/images/ico-06.png) no-repeat center center/cover;">
                                    </div>
                                </div>
                                <div class="progress_list_txt">행사진행</div>
                            </li>
                        </ul> -->
                    </div>

                    <!-- //모바일 진행방식-->


                </div>
                <div class="background_color">
                    <div class="gallery_content">
                        <div class="gallery_area">
                            <h3 class="title">갤러리</h3>
                            <div class="flex_layout gallery_more_btn">
                                <div>더보기</div>
                                <i class="arrow_icon"></i>
                            </div>
                        </div>
                        <div class="gallery_category_menu_content">
                            <ul class="gallery_category_menu">
                                <li id="1" class="active">풍선장식</li>
                                <li id="5">레터링 풍선</li>
                                <li id="6">인쇄 풍선</li>
                                <li id="2">메세지토퍼</li>
                                <li id="3">삐에로/페이스페인팅</li>
                                <li id="4">클래스</li>
                            </ul>
                        </div>

                        <ul class="gallery_category_list">

                        </ul>
                    </div>
                </div>

                <div class="instagram_content">
                    <div class="instagram_area">
                        <h3 class="title">인스타그램</h3>
                        <a href="https://www.instagram.com/wonny_topper/" target="_blank"
                            class="flex_layout instagram_more_btn">
                            <div>자세히보기</div>
                            <i class="arrow_icon"></i>
                        </a>
                    </div>

                    <ul class="instagram_list">
                        <li>
                            <div class="instafeed"></div>
                        </li>
                        <li>
                            <div class="instafeed"></div>
                        </li>
                        <li>
                            <div class="instafeed"></div>
                        </li>
                        <li>
                            <div class="instafeed"></div>
                        </li>
                        <li>
                            <div class="instafeed"></div>
                        </li>
                        <li>
                            <div class="instafeed"></div>
                        </li>
                    </ul>
                </div>

                <div class="partner_content">
                    <div class="partner_area">
                        <h3 class="title">워니토퍼와 함께한 파트너사</h3>

                    </div>

                    <ul class="partner_list">
                        <li>
                            <div class="partner_content_img samsung">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img lg">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img lotte">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img sk">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img cinema">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img hyundai">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img jyp">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img hive">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img pledis">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img seoulcity">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img gangwondo">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img yangcheongu">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img seodaeguoffice">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img inchang">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img culture">
                            </div>
                        </li>
                        <li>
                            <div class="partner_content_img threedays">
                            </div>
                        </li>

                    </ul>
                </div>

                <footer class="footer">
                    <div class="footer_area">
                        <img src="/user/assets/images/footer_logo.png" alt="" class="footer_logo">
                        <div class="footer_line">
                            <div>
                                <div class="mb-7">대표자명: 박소연</div>
                                <div class="mb-7">사업자등록번호: 186-12-00587&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;이메일:
                                    wonnytopper@naver.com</div>
                                <div>주소: 서울 서대문구 통일로 27길 8</div>
                            </div>

                        </div>
                        <div class="footer_flex_layout">
                            <div class="copyright_txt">워니토퍼 Corporation 2023@Copyrights Allrights reserved.</div>

                        </div>
                    </div>

                    <%- include('float') %>
                </footer>
            </div>

            <!--상세 POPUP-->
            <div class="popup_wrap hidden">
                <div class="popup_container">
                    <div class="popup_content">
                        <div class="popup_header_content">
                            <div class="popup_title">Title</div>
                            <button class="icon_close close_btn"></button>
                        </div>

                        <div class="popup_body_content">
                            <div class="swiper mySwiper popup_swiper_area">
                                <div class="swiper-wrapper popup_images_list">
                                    <div class="swiper-slide"><img src="/user/assets/images/test.jpg"></div>
                                    <div class="swiper-slide"><img src="/user/assets/images/test.jpg"></div>
                                    <div class="swiper-slide"><img src="/user/assets/images/test.jpg"></div>
                                </div>

                                <!-- <div class="swiper-pagination"></div> -->
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- //상세 POPUP-->
    </div>

    <script src="/user/assets/js/swiper.js"></script>
    <script src="/user/assets/js/common.js"></script>
    <script src="/user/assets/js/instagram.js"></script>
</body>

</html>