<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="mars-sequel" />

  <title>워니토퍼 관리자 - 컨텐츠 관리</title>

  <!-- Custom fonts for this template -->
  <link href="/admin/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />

  <!-- Styles for this page -->
  <link href="/admin/assets/css/sb-admin-2.min.css" rel="stylesheet" />
  <link href="/admin/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="/admin/assets/css/style.css" />

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include('common/sidebar') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('common/topbar') %>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
              <!-- Page Heading -->
              <div class="border-bottom-primary mb-4">
                <div class="main-title">
                  <h1 class="mb-2 text-gray-800">컨텐츠 관리</h1>
                </div>
                <h6 class="page-adress">컨텐츠 관리 > 컨텐츠 관리</h6>
              </div>

              <!-- DataTales -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">
                    검색 필터
                  </h6>

                  <!-- 검색패널 -->
                  <section class="panel mb-xs">
                    <table class="filter-table">
                      <tr>
                        <td class="filter-label">
                          등록일
                        </td>
                        <td>
                          <div class="col-md-7 input-daterange input-group date-pick">
                            <input type="text" class="form-control" id="from_date" autocomplete="off" />
                            <span class="input-group-addon">
                              <i class="fa fa-calendar calender-icon"></i>
                            </span>
                            <span class="input-group-addon tx-icon">
                              ~
                            </span>
                            <input type="text" class="form-control" id="to_date" autocomplete="off" />
                            <span class="input-group-addon">
                              <i class="fa fa-calendar calender-icon"></i>
                            </span>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="filter-label">
                          카테고리</td>
                        <td class="col-sm-9">
                          <div class="filter-category">
                            <label class="ckbox-inline">
                              <input type="checkbox" id="check_all" checked />
                              전체
                            </label>
                            <label class="ckbox-inline">
                              <input type="checkbox" class="ck category" value="1" checked />
                              풍선 장식
                            </label>
                            <label class="ckbox-inline">
                              <input type="checkbox" class="ck category" value="5" checked />
                              레터링 풍선
                            </label>
                            <label class="ckbox-inline">
                              <input type="checkbox" class="ck category" value="6" checked />
                              인쇄 풍선
                            </label>
                            <label class="ckbox-inline">
                              <input type="checkbox" class="ck category" value="2" checked />
                              메세지 토퍼
                            </label>
                            <label class="ckbox-inline">
                              <input type="checkbox" class="ck category" value="3" checked />
                              삐에로 / 페이스페인팅
                            </label>
                            <label class="ckbox-inline">
                              <input type="checkbox" class="ck category" value="4" checked />
                              클래스
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="filter-label">
                          노출여부
                        </td>
                        <td>
                          <div class="col-sm-4">
                            <label class="radio-button-inline">
                              <input type="radio" name="exposure_yn" value="all" checked />
                              전체
                            </label>
                            <label class="radio-button-inline">
                              <input type="radio" name="exposure_yn" value="Y" />
                              Y
                            </label>
                            <label class="radio-button-inline">
                              <input type="radio" name="exposure_yn" value="N" />
                              N
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="filter-label">
                          검색어
                        </td>
                        <td>
                          <div class="col-sm-8 search-input ">
                            <input type="text" id="keyword" class="form-control" />
                          </div>
                        </td>
                      </tr>

                    </table>
                  </section>
                  <!-- 검색패널 end -->

                  <div class="btn-area float-right">
                    <a href="#" class="btn btn btn-block" id="search_btn">
                      검색
                    </a>
                  </div>
                </div>

                <div class="card-body">
                  <div class="table-responsive">
                    <div class="admin-btn-tool tx-align-left">
                      <div class="tool-select ib">
                        <select id="order_select" class="form-control" name="order_select">
                          <option value="DESC">등록일 ↓</option>
                          <option value="ASC">등록일 ↑</option>
                        </select>
                      </div>

                      <div class="tool-btn ib">
                        <button type="button" id="delete_btn" class="btn btn-sm btn-dark">
                          선택 삭제
                        </button>
                      </div>

                      <div class="btn-area float-right tool-btn ib">
                        <a href="/admin/content_register" class="btn btn-block">
                          컨텐츠 등록
                        </a>
                      </div>
                    </div>

                    <table class="table table-bordered content-table" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>
                            <input type="checkbox" name="table_ck_all" />
                          </th>
                          <th>NO</th>
                          <th>카테고리</th>
                          <th>제목</th>
                          <th>등록일</th>
                          <th>노출여부</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                    <div class="row">
                      <div class="col-sm-12 col-md-5">
                        <div id="list_info"></div>
                      </div>
                    </div>
                    <div id="pagination_container">
                      <ul class="pagination">
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <%- include('common/footer') %>
          <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="/admin/assets/js/common.js"></script>
  <script src="/admin/assets/js/content_main.js"></script>

  <!-- Bootstrap core JavaScript-->
  <script src="/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/admin/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/admin/assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/admin/assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/admin/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/admin/assets/js/demo/datatables-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/plugin/isSameOrAfter.min.js"></script>
  <script>
    dayjs.extend(dayjs_plugin_isSameOrAfter);
  </script>

</body>

</html>