<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="mars-sequel" />

    <title>워니토퍼 관리자 - 인스타그램 관리</title>

    <!-- Custom fonts for this template -->
    <link href="/admin/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />

    <!-- Styles for this page -->
    <link href="/admin/assets/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/admin/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/admin/assets/css/style.css" />

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('common/sidebar') %>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <%- include('common/topbar') %>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">
                            <!-- Page Heading -->
                            <div class="border-bottom-primary mb-4">
                                <div class="main-title">
                                    <h1 class="mb-2 text-gray-800">인스타그램 관리</h1>
                                </div>
                                <h6 class="page-adress">인스타그램 관리 > 인스타그램 관리</h6>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="card-body insta-panel-area">
                                        <div class="insta_img_area">
                                            <img src="/admin/assets/img/instagram.png" alt="">
                                        </div>
                                        <div class="insta_reco_text_area" class="">
                                            다음 갱신 추천일은 <span id="insta_reco_date" class="insta_reco_date"></span> 입니다.
                                        </div>
                                        <div>
                                            <button type="button" id="refreshBtn" class="btn btn-insta disable"
                                                disabled>
                                                갱신 완료
                                            </button>
                                        </div>
                                        <div id="insta_mod_date" class="">
                                            최근 갱신일 : - / - / -
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- Footer -->
                <%- include('common/footer') %>
                    <!-- End of Footer -->
            </div>
    </div>
    <!-- End of Main Content -->
    </div>

    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/assets/js/sb-admin-2.min.js"></script>

    <script src="/admin/assets/js/common.js"></script>
    <script src="/admin/assets/js/instagram_main.js"></script>

    <!-- Page level plugins -->
    <script src="/admin/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/admin/assets/js/demo/datatables-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/plugin/isSameOrAfter.min.js"></script>
    <script>
        dayjs.extend(dayjs_plugin_isSameOrAfter);
    </script>
</body>

</html>