<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordion_sidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#" id="logo_btn">
    <div class="sidebar-brand-icon">
      <img width="40" height="40"
        src="https://img.icons8.com/external-glyph-andi-nur-abdillah/64/FFFFFF/external-Balloon-birthday-party-(glyph)-glyph-andi-nur-abdillah.png"
        alt="external-Balloon-birthday-party-(glyph)-glyph-andi-nur-abdillah" />
    </div>
    <div class="sidebar-brand-text">Wonny Topper</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">
    Category
  </div>

  <li class="nav-item">
    <a class="side nav-link collapsed" href="#" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-folder"></i>
      <span>컨텐츠 관리</span>
    </a>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion_sidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item nav-item-text" id="content_page_btn" href="#">
          컨텐츠 관리
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-right-fill nav-arrow-btn content" viewBox="0 0 16 16">
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>
        </a>

      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="side nav-link collapsed" href="#" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-wrench"></i>
      <span>게시판 관리</span>
    </a>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingUtilities" data-parent="#accordion_sidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item nav-item-text" id="counsel_page_btn" href="#">
          상담문의 관리
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-right-fill nav-arrow-btn consultation" viewBox="0 0 16 16">
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>
        </a>

      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="side nav-link collapsed" href="#" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>인스타그램 관리</span>
    </a>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingUtilities" data-parent="#accordion_sidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item nav-item-text" id="insta_page_btn" href="#">
          인스타그램 관리
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-right-fill nav-arrow-btn instagram" viewBox="0 0 16 16">
            <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>
        </a>

      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />
</ul>